.cart-container {
	margin: 10px;
}
.cart-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
}
.form-group {
	margin-bottom: 10px;
	text-align: center;
	right:20px
}

.label {
	display: block;
	font-weight: bold;
}

.input {
	width: 300px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.button {
	padding: 10px 20px;
	background-color: #4286f4;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transform: translateX(200%);
}
.button:hover {
	background-color: #3077c7;
}

.error-message {
	color: red;
	margin-top: 5px;
}

.cart-items-section {
	box-sizing: border-box;
	display: flex;
	align-items: start;
}

.cart-items-container {
	flex-grow: 1;
}

.cart-items {
	border: 1px solid black;
	border-radius: 20px;
	padding: 20px;
	margin: 10px;
	text-align: left;
	display: flex;
	align-items: start;
}

.cart-img .img {
	width: 100px;
	height: auto;
}

.cart-data {
	width: 100%;
	margin-left: 20px;
}

.cart-data-namePrice {
	display: flex;
	justify-content: space-between;
}

.cart-checkout-section {
	min-width: 200px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
}
.checkout-data {
	margin-bottom: 20px;
}
