.banner-container {
	width: 100%;
}
.banner-container img {
	width: 100%;
}
.display-products {
	text-align: end;
	margin-top: 40px;
	margin-right: 30px;
}
.display-products a {
	border: 1px solid #1a759f;
	padding: 2px 8px;
	color: black;
}
.card-container {
	margin: 30px auto;
	width: 90%;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow-y: hidden;
	box-shadow: 1px 3px 20px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 800px) {
	.card-container {
		width: 90%;
		height: 2030px;
		display: flex;
		flex-wrap: wrap;
	}
}
.card{
   margin-right:10px;
}